<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- Extended default form grid -->
  <!-- Grid row -->
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <title>ABC Travels</title>
    <h1 ALIGN="CENTER">Registration Form</h1>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
<!-- Extended default form grid -->
<form>
  <!-- Grid row -->
  <div class="form-row">
    <h1 ALIGN="CENTER">ABC Travels</h1>
    <h2 ALIGN="CENTER">Registration Form</h2>
    <!-- Default input -->
    <div class="form-group col-md-6">
      <label for="inputName">Name </label>
      <input mdbInput type="text" class="form-control" id="inputName" placeholder="Enter Name">
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail">Email</label>
      <input mdbInput type="email" class="form-control" id="inputEmail" placeholder="Enter Email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPhoneno">Phone Number</label>
      <input mdbInput type="number" class="form-control" id="inputPhoneno" placeholder="Enter Phoneno">
    </div>
    <div class="form-group col-md-6">
      <label for="inputdob">Date Of Birth</label>
      <input mdbInput type="date" class="form-control" id="inputdob" placeholder="Enter DateofBirth">
    </div>
    <!-- Default input -->
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input mdbInput type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Confirm Password</label>
      <input mdbInput type="password" class="form-control" id="inputPassword5" placeholder="Confirm Password">
    </div>
  </div>
  <!-- Grid row -->

  <!-- Default input -->
  <div class="form-group ">
    <label for="Address">Address</label>
    <input mdbInput type=<textarea rows="4" cols="50"
      class="form-control" id="inputAddress" placeholder="No.6 Main road, Vivekandar St">
  </div>
  <div class="form-group col-md-6">
    <label for="inputCity">City</label>
    <input mdbInput type="text" class="form-control" id="inputCity" placeholder="Chennai">
   </div>
   <div class="form-group col-md-6">
    <label for="inputZip">PinCode</label>
    <input mdbInput type="number" class="form-control" id="inputpincode" placeholder="600 001">
   </div>
  <div class="form-group col-md-6">
    <label for="gender">Gender</label><br>
    <td align="left">
    Male<input mdbInput type="radio" class="medium" id="inputgender" value="Male">
    Female<input mdbInput type="radio" class="medium" id="inputgender" value="FeMale">
  </td>
  </div>

  <!-- Default input-->
  <div class="form-group col-md-6">
    <label for="Agreement">Agreement</label>
  <form action="#" onsubmit="if(document.getElementById('agree').checked) { return true; } else { alert('Please indicate that you have read and agree to the Terms and Conditions and Privacy Policy'); return false; }">
    <input type="checkbox" name="checkbox" value="check" id="agree" /> I have read and agree to the Terms and Conditions and Privacy Policy
  </form>
</div>
<div class="form-row">
  <input mdbInput type="submit" class="form-control" id="inputsubmit" type="submit" value="Submit">
  <input mdbInput type="reset" class="form-control" id="inputreset" type="reset" value="Reset">
  <input mdbInput type="button" class="form-control" id="inputnext" type="button" value="Next">
</div>

  <!-- Grid row -->
  <div class="form-row">
    <!-- Default input
    <div class="form-group col-md-6">
      <input mdbInput type="text" class="form-control" id="inputCity" placeholder="New York City">
      <label for="inputCity">City</label>
    </div>
    <!-- Default input
    <div class="form-group col-md-6">
      <input mdbInput type="text" class="form-control" id="inputZip" placeholder="11206-1117">
      <label for="inputZip">Zip</label>
    </div> -->
  </div>
  <!-- Grid row -->

</form>
<!-- Extended default form grid
Submit <input mdbInput type="submit" class="form-control" id="inputsubmit" type="submit" value="Submit">
Reset <input mdbInput type="reset" class="form-control" id="inputreset" type="reset" value="Reset">
Next <input mdbInput type="button" class="form-control" id="inputnext" type="button" value="Next"> -->
</body>
</html>

  <!-- Grid row -->
<!-- Extended default form grid -->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>
